.itemCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

.itemCard h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

.itemCard a {
  text-decoration: none;
}

.libIcon {
  padding-right: 5px;
}

.lib {
  font-size: 16px;
  margin-bottom: 4px;
  text-decoration: none;
  margin: 0;
  color: #666;
}

.libContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
}
